<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profit Prediction</title>
</head>
<body>
    <h1>This is Web Application to predict the Profit</h1>
    <form action ="/login" method ="post">

    <p>Marketing Spend</p>
    <input type="text" name = "ms" />

    <p>Administration spend</p>
    <input type="text" name = "as" />

    <p>R & D spend</p>
    <input type="text" name = "rd" /><br><br>

    <label for = "states">Choose the State</label>
    <select name ="s">
    <option value = "cal">California</option>
    <option value = "flo">Florida</option>
    <option value = "ny">NewYork</option>
    </select>

    <p><input type ="submit" value = "submit" /> </p>
    </form>

    <h1>{{y}}</h1>
</body>
</html>